/* Header */
.headerWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

/* NavBar */
.nav {
    background-color: rgb(250, 204, 1);
}

.navItem {
    padding: 10px 20px;
}

/* Footer */
.footerWrap {
    display: flex;
    padding: 0 30px;
    background-color: aqua;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}